body{
	background-color:#F8E8C9;
	text-align:center;
}
h1{
	font-size:5em;
}
h2{
	font-size:3em;
}
i{
	font-size:100px;
}
.btn-light{
	font-size:2em;
}
.btn-success, .btn-danger{
	margin:10px;
	width:200px;
}

.large-text{
	font-size:10em;
}